<div class="container">
  <!-- <h1 class="text-center">Cocktail details</h1> -->
  <div class="container p-3">
    <div class="row justify-content-center">
      <!-- BEGIN PHOTO DIV -->
      <div class="col col-4 border-0 rounded shadow-light d-flex flex-wrap justify-content-center bg-secondary mx-3 p-3">
        <div class="align-self-center" id="image-show">
          <% if @cocktail.photo.attached? %>
            <%= cl_image_tag @cocktail.photo.key, height: 300, width: 300, crop: :fill%>
          <% else %>
            <%= image_tag "https://picsum.photos/seed/#{rand(0..100)}/300", alt: @cocktail.name, class: "mh-100 mw-100" %>
          <% end %>
        </div>
      </div>
      <!-- END PHOTO DIV -->
      <!-- BEGIN DATA DIV -->
      <div class="col col-5 d-flex flex-column border-0 rounded shadow-light bg-light mx-3 p-3">
        <!-- BEGIN DESC DIV -->
        <div class="p-2 flex-row">
          <h3 class="text-center"><%= @cocktail.name %></h2>
          <p class="text-center"><%= @cocktail.description %></p>
          <% unless @doses[0].nil? %>
            <ul class="">
              <% @doses.each do |dose| %>
                <li>
                  <%= "#{dose.description.capitalize} of #{dose.ingredient.name}" %>
                  <%= link_to dose_path(dose), method: :delete, class: 'text-small text-danger hidden', id: 'delete-button' do %>
                    <i class="fas fa-minus-circle"></i>
                  <% end %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>
        <!-- END DESC DIV -->
        <!-- BEGIN BUTTON DIV -->
        <div class="p-2 mx-auto flex-row justify-content-center align-self-end">
          <%= link_to new_cocktail_dose_path(@cocktail), class: "btn btn-secondary text-white" do %>
            <i class="fas fa-glass-whiskey"></i>
            <small>Add Ingredient</small>
          <% end %>
          <button class="btn btn-danger text-white" id="toggle-delete">
            <i class="fas fa-glass-whiskey"></i>
            <small>Remove Ingredients</small>
          </button>
        </div>
        <div class="p-2 mx-auto flex-row align-self-end">
          <%= link_to cocktails_path, class: "btn btn-dark text-white" do %>
            <i class="fa fa-backward" aria-hidden="true"></i>
            <small>Back</small>
          <% end %>
        </div>
        <!-- END BUTTON DIV -->
      </div>
      <!-- END DATA DIV -->
    </div>
</div>
